@import "./font.scss";

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin commonRadius {
  border-radius: 0.4rem;
}

@mixin commonPadding {
  padding: 1.8rem 1.4rem;
}

@mixin fontRegular {
  font-family: $font-family;
  font-weight: $font-family-regular;
}

@mixin fontBold {
  font-family: $font-family;
  font-weight: $font-family-bold;
}
